html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
  --white: white;
  --black: black;
  --neon-yellow: #ccff15;
  --soft-coral: rgb(255, 115, 148);
  --insta-yellow: #ffff00;
  --insta-orange: #ff3300;
  --insta-purple: #cc00cc;
  --github-purple-1: #6600ff;
  --github-purple-2: #000066;
  --github-purple-3: #660066;
  --background-image-grad-1: rgba(255, 196, 20, 0.6);
  --background-image-grad-2: rgba(204, 255, 21, 0.6);
  --background-image-grad-3: rgba(255, 115, 148, 0.6);
  --background-image-grad-4: rgba(255, 204, 216, 0.6);
  --basic-sans-serif-font: arial;
  --asos-font: 'Poppins', sans-serif;
  --michroma-font: 'Michroma', sans-serif;
}

body {
  background-color: var(--black);
  color: var(--white);
}

.top-panel {
  border-bottom: thin solid var(--white);
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  font-size: 28px;
  font-weight: 100;
  font-family: var(--michroma-font);
}

.menu-outer {
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: 40%;
}

/* nav */

nav li {
  position: relative;
  list-style: none;
  margin: 5px;
  margin-left: 15px;
}

nav li a {
  position: relative;
  display: block;
  height: 80px;
  text-decoration: none;
  padding: 5px 10px;
  font-weight: 300;
  overflow: hidden;
}

nav li a span {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 0.5s;
  color: var(--white);
  font-size: 52px;
  text-transform: capitalize;
}

nav li a:hover span:nth-child(1) {
  transform: translateY(-100%);
}

nav li a:hover span:nth-child(2) {
  transform: translateY(-100%);
}

.selected {
  color: var(--neon-yellow);
  font-family: var(--basic-sans-serif-font);
}

/* nav */

.page-outer {
  display: flex;
}

.details-panel1 {
  font-size: 42px;
  width: 60%;
  border: thin solid var(--white);
  height: 700px;
  justify-content: flex-end;
  display: flex; 
}

.details-panel2 {
  font-size: 42px;
  width: 60%;
  border: thin solid var(--white);
  height: 700px;  
  display: flex; 
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.panel-text {
  margin: 30px;
  font-family: var(--basic-sans-serif-font);
  font-weight: 900;
}

.profile-photo {
  height: 200px;
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  border-radius: 2px;
  box-shadow: 5px 10px inset;
  
  background-image:
    linear-gradient(
      to bottom right, 
      var(--background-image-grad-1), 
      var(--background-image-grad-2), 
      var(--background-image-grad-3), 
      var(--background-image-grad-4)),
    url('profile.png');
    background-blend-mode: hard-light;
    mix-blend-mode: hard-light;
    background-size: cover;
}

.new-opportunities {
  color: var(--soft-coral);
}

/* find-me */
.find-me-outer a div {
  margin: 10px;
}

.find-me-outer a {
  text-decoration: none;
}

.find-me-outer a div span {
  color: var(--white);
}

.codepen {
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 5px;
}

.instagram {
  font-family: 'Cookie', cursive;
  font-size: 60px;
}

.github {
  color: var(--white);
}

.github-icon {
  color: var(--white);

  background-image: linear-gradient(
    to bottom right,   
    var(--github-purple-1),
    var(--github-purple-2),
    var(--github-purple-3)  
    );
    border-radius: 5px;
}

.instagram-icon {
  background-image: linear-gradient(
    to top right,   
    var(--insta-yellow),
    var(--insta-orange),
    var(--insta-purple)  
    );
    border-radius: 10px;
    height: 45px;
    width: 45px;
    display: inline-block;
}

.codepen-icon {
  color: var(--white);
}

.instagram-icon-inner1 {
  position: relative;
  border: medium solid var(--white);
  height: 35px;
  width: 35px;
  display: inline-block;
  border-radius: 10px;
  margin: 4.2px;
}

.instagram-icon-inner2 {
  border: medium solid var(--white);
  height: 20px;
  width: 20px;
  display: inline-block;
  border-radius: 30px;
  margin-bottom: 13px;
  margin-left: 5px;
}

.instagram-icon-circle {
  position: absolute;
  border: thin solid var(--white);
  height: 4px;
  width: 4px;
  display: inline-block;
  border-radius: 20px;
  margin-left: 22px;
  margin-top: 3px;
  background-color: white;
}

/* work experience */

.details-panel3 {
  font-size: 22px;
  width: 60%;
  border: thin solid var(--white);
  height: 700px;  
  display: flex; 
  justify-content: center;
  align-items: center;
  padding: 15px;  
  flex-direction: column;
}

.company {
  font-family: var(--asos-font);
  letter-spacing: -4px;
  font-size: 48px;
}

.jobs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px;
}

.job-role {
 color: var(--soft-coral);
 font-family: var(--basic-sans-serif-font);
 margin-bottom: 5px;
}

.job-dates {
  font-family: var(--basic-sans-serif-font);
  margin-bottom: 30px;
}

.job-description {
  font-size: 28px;
}

.job-technologies {
  color: var(--neon-yellow);
  font-family: var(--basic-sans-serif-font);
  font-size: 18px;
}

.asos-name {
  font-family: var(--asos-font);
  letter-spacing: -3px;
}

/* edcuation */

.details-panel4 {
  font-size: 32px;
  width: 60%;
  border: thin solid var(--white);
  height: 700px;  
  display: flex; 
  justify-content: center;
  align-items: flex-start;
  padding: 15px;  
  flex-direction: column;
}

.education {
  margin: 20px;
}

.course {
  color: var(--soft-coral);
  font-family: var(--basic-sans-serif-font);
}
